<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<button type="button" onclick="location.href='/register'">Don't have an account? - Register Now</button>
<button type="button" onclick="location.href='/login'">Already had an account? - Login Now</button>
</form>