<h1>You have successfully registered a Scholar Village Account</h1>
<h2>Please check your email for account verification link</h2>
<h3>After you have verified your account, click the button below to return to login page</h3>
<button type="button" onclick="location.href='/login'">Return to Login</button>