.App{
height: 100%;

}
.ChatNav{
display: flex;
align-content: center;
justify-content: center;
background-color: lightslategrey;
gap: 0.2em;
}

.ChatWindow{
background-color: gray;
}
.ChatBox{
    display:inline-flex;
    width: 100%;
}
.noConversation{

  font-size: 2rem;
  cursor: default;
}